*{
    margin: 0;
    padding: 0;
    /* font-family: 'Times New Roman'; */
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(../Images/WP2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul.menu{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul.menu li.menu_item a{
    text-decoration: none;
    color: aqua;
    padding: 8px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    border-radius: 15px;
}

ul.menu li.menu_item a:hover{
    background-color: #fff;
    color: #000;
}

ul.menu li.active a{
    color: aqua;
}

.menu{
    line-height: 70px;
    font-weight: 600;
}

.menu .menu_item{
    display: inline-block;
    position: relative;
}

.submenu{
    display: none;
    text-transform: none;
    position: absolute;
    width: 200px;
    background-color: rgba(0,0,0,0.6);
}

.menu_item:hover .submenu{
    display: block;
}

.submenu_item:hover{
    background-color: rgba(0,0,0,0.4);
    border-left: 4px solid aqua;
}

.logo img{
    float: left;
    width: 110px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px; 
}

.button1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn2{
    text-decoration: none;
    color: white;
    margin: 8px;
    padding: 15px 30px;
    border: 2px solid #fff;
    transition: 0.6s ease-out;
}

.btn2:hover{
    background-color: rgb(77, 196, 196);
    color: #000; 
}